# Ignore everything in emacs
.emacs.d/*

# Except the init file
# so that the .emacs.d directory can be symlinked
# into dotfiles.
!.emacs.d/init.el

# And not the non-elpa directory.
!.emacs.d/non-elpa

# And not the custom src directory.
!.emacs.d/src