! rofi
rofi.color-enabled: true
rofi.color-window: #002b37, #cb3b16, #008ed4
rofi.color-normal: #002b37, #819396, #002b37, #003642, #819396
rofi.color-active: #002b37, #008ed4, #002b37, #003642, #008ed4
rofi.color-urgent: #002b37, #da4281, #002b37, #003642, #da4281
rofi.font: Fira Mono 14
rofi.hide-scrollbar: true
rofi.padding: 50
rofi.bw: 2
! urxvt
URxvt*buffered: true
!URxvt*letterSpace: -2
URxvt*cursorBlink: true
URxvt*underlineColor: yellow
URxvt*font:  xft:monospace:style=Medium:pixelsize=14:antialias=true,FontAwesome:pixelsize=14:antialias=true
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
URxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
!URxvt*termName: rxvt-unicode-256color
URxvt.perl-ext: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.underlineURLs: true
URxvt.matcher.button: 1
URxvt.background: rgba:0000/2b00/3600/cccc
!URxvt.background: [95]#002b3
URxvt*iso14755: false

! Base16 Solarized Dark
! Scheme: Ethan Schoonover (http://ethanschoonover.com/solarized)

#define base00 #002b36
#define base01 #073642
#define base02 #586e75
#define base03 #657b83
#define base04 #839496
#define base05 #93a1a1
#define base06 #eee8d5
#define base07 #fdf6e3
#define base08 #dc322f
#define base09 #cb4b16
#define base0A #b58900
#define base0B #859900
#define base0C #2aa198
#define base0D #268bd2
#define base0E #6c71c4
#define base0F #d33682

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

! #define S_base03        #002b36
! #define S_base02        #073642
! #define S_base01        #586e75
! #define S_base00        #657b83
! #define S_base0         #839496
! #define S_base1         #93a1a1
! #define S_base2         #eee8d5
! #define S_base3         #fdf6e3

! *background:            S_base03
! *foreground:            S_base0
! *fadeColor:             S_base03
! *cursorColor:           S_base1
! *pointerColorBackground:S_base01
! *pointerColorForeground:S_base1

! #define S_yellow        #b58900
! #define S_orange        #cb4b16
! #define S_red           #dc322f
! #define S_magenta       #d33682
! #define S_violet        #6c71c4
! #define S_blue          #268bd2
! #define S_cyan          #2aa198
! #define S_green         #859900

! !! black dark/light
! *color0:                S_base02
! *color8:                S_base03
! !
! !!! red dark/light
! *color1:                S_red
! *color9:                S_orange
! !
! !!! green dark/light
! *color2:                S_green
! *color10:               S_base01
! !
! !!! yellow dark/light
! *color3:                S_yellow
! *color11:               S_base00
! !
! !!! blue dark/light
! *color4:                S_blue
! *color12:               S_base0
! !
! !!! magenta dark/light
! *color5:                S_magenta
! *color13:               S_violet
! !
! !!! cyan dark/light
! *color6:                S_cyan
! *color14:               S_base1
! !
! !!! white dark/light
! *color7:                S_base2
! *color15:               S_base3
