! ====================
! Catppuccin Mocha Color Scheme
! ====================
#define mocha_rosewater #f5e0dc
#define mocha_flamingo  #f2cdcd
#define mocha_pink      #f5c2e7
#define mocha_mauve     #cba6f7
#define mocha_red       #f38ba8
#define mocha_maroon    #eba0ac
#define mocha_peach     #fab387
#define mocha_yellow    #f9e2af
#define mocha_green     #a6e3a1
#define mocha_teal      #94e2d5
#define mocha_sky       #89dceb
#define mocha_sapphire  #74c7ec
#define mocha_blue      #89b4fa
#define mocha_lavender  #b4befe
#define mocha_text      #cdd6f4
#define mocha_subtext1  #bac2de
#define mocha_subtext0  #a6adc8
#define mocha_overlay2  #9399b2
#define mocha_overlay1  #7f849c
#define mocha_overlay0  #6c7086
#define mocha_surface2  #585b70
#define mocha_surface1  #45475a
#define mocha_surface0  #313244
#define mocha_base      #1e1e2e
#define mocha_mantle    #181825
#define mocha_crust     #11111b

*.foreground:   mocha_text
*.background:   mocha_base
*.cursorColor:  mocha_rosewater
*fading:        35
*fadeColor:     mocha_surface2

*.color0:  mocha_surface1
*.color1:  mocha_red
*.color2:  mocha_green
*.color3:  mocha_yellow
*.color4:  mocha_blue
*.color5:  mocha_pink
*.color6:  mocha_teal
*.color7:  mocha_subtext1
*.color8:  mocha_surface2
*.color9:  mocha_red
*.color10: mocha_green
*.color11: mocha_yellow
*.color12: mocha_blue
*.color13: mocha_pink
*.color14: mocha_teal
*.color15: mocha_subtext0

! ====================
! URxvt
! ====================
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*underlineColor: mocha_yellow
URxvt*font: xft:monospace:style=Medium:pixelsize=14:antialias=true,FontAwesome:pixelsize=14:antialias=true
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
URxvt*secondaryScroll: true
URxvt*saveLines: 5000
URxvt*iso14755: false
URxvt.perl-ext: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.underlineURLs: true
URxvt.matcher.button: 1
URxvt.keysym.C-semicolon: \033[59;5u
URxvt*background:  [100]mocha_base
URxvt*borderColor: [100]mocha_base

! ====================
! Emacs terminal colors
! ====================
emacs*foreground: mocha_text
emacs*background: mocha_base